In [8]:
import numpy as np
import pandas as pd

In [1]:
TRAIN_CSV = '~/.kaggle/competitions/ai-hackathon-2018-spb-gpn/train_data.csv'

In [3]:
df = pd.read_csv(TRAIN_CSV)

/home/s_belyaev/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,time,date,v_l,q,n_tr,sum_b,code_azs,id,first_prch,location,region,code,code1,percent,type
0,0,NaN,2016-12-28,30.46,0,2016,1090.60,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,5
1,1,NaN,2016-12-27,0.00,1,2016,180.91,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,2230000,164.0,0.0,6
2,2,NaN,2016-12-27,35.60,0,2016,1363.48,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010131,128.0,0.0,13
3,3,08:24:24,2017-10-23,31.01,0,2017,1181.45,5915.0,21-8B2-7695,27.12.16 23:06:11,10.0,454.5,1010121,126.0,0.0,7
4,4,NaN,2017-03-19,51.95,0,2017,1818.09,2418.0,21-8B2-7695,27.12.16 23:06:11,9.0,454.0,1010121,126.0,0.0,5

In [12]:
df.date.min(), df.date.max()

('2016-01-01', '2017-12-31')

In [11]:
sum(df.time.isnull()) / len(df)

0.2810177651097257